{# ── FEATURES BANNER (Dark) ── #}
<section class="cof-feat" id="about">
  <div class="cof-feat__inner">
    <div class="cof-feat__item"><div class="cof-feat__num">01</div><div class="cof-feat__title">{{ trans('common.titles.f1_title', 'Weekly Roasting') }}</div><div class="cof-feat__desc">{{ trans('common.titles.f1_desc', 'We roast weekly for maximum freshness and flavor') }}</div></div>
    <div class="cof-feat__item"><div class="cof-feat__num">02</div><div class="cof-feat__title">{{ trans('common.titles.f2_title', 'Direct Source') }}</div><div class="cof-feat__desc">{{ trans('common.titles.f2_desc', 'Direct trade with farmers for quality and fair pricing') }}</div></div>
    <div class="cof-feat__item"><div class="cof-feat__num">03</div><div class="cof-feat__title">{{ trans('common.titles.f3_title', 'Fast Delivery') }}</div><div class="cof-feat__desc">{{ trans('common.titles.f3_desc', 'Swift delivery to all regions') }}</div></div>
  </div>
</section>
