{# ── NEWSLETTER ── #}
<section class="cof-sec cof-news" id="contact">
  <div class="cof-news__inner">
    <span class="cof-sec__tag" style="text-align:center;display:block">Newsletter</span>
    <h2 class="cof-news__title">{{ trans('common.titles.join', 'Join') }} <strong>{{ trans('common.titles.community', 'Our Community') }}</strong></h2>
    <p class="cof-news__text">{{ trans('common.titles.news_desc', 'Exclusive offers, brew tips, and new harvest news in your inbox.') }}</p>
    <div class="cof-news__form" id="newsletterForm">
      <input class="cof-news__input" type="email" placeholder="{{ trans('common.titles.email', 'Email address') }}" id="newsletterEmail" required>
      <button class="cof-news__btn" id="newsletterBtn" type="button">{{ trans('common.titles.subscribe', 'Subscribe') }}</button>
    </div>
    <p class="cof-news__ok" id="newsletterSuccess" style="display:none">{{ trans('common.titles.news_ok', 'Thanks for subscribing!') }}</p>
  </div>
</section>
